:root {
    --primary: #E3872D;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
}html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.8;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-weight: 400;
}
svg{
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg{
	width: 15px;
	height: 15px;
}
.wrapper,
.section,
.content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
#ripple{
	position: relative;
	z-index: 0;
}
.content{
	position: relative;
	z-index: 2;
}
#particles-js{
    /*opacity: 0;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #333;
}

::placeholder { /* Most modern browsers support this now. */
   color: #333;
}
.preloader{
  position: fixed;
  background-color: #fff;
  z-index: 9999999;
  height: 100%;
  width: 100%;
	
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }  
.preloader .spinner_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 33333;
}
.preloader.loaded {
    opacity: 0;
    visibility: hidden;
}
.preloader:before,
.preloader:after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #041230;
	
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease;
}
.preloader:before{
    top: 0;
    left: 0; 
}
.preloader:after{
    bottom: 0;
	left: 0; 
}
.preloader.loaded:before, 
.preloader.loaded:after{height: 0%;}

/*---------------------------------------------------*/
/*	02) ARLO CONTENT
/*---------------------------------------------------*/

.leftpart_wrap{
	width: 300px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #041230;
	z-index: 100;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	
}
.leftpart_wrap.hide{left: -300px;}
.leftpart_wrap.opened{left: -300px;}
.leftpart_wrap .logo_wrap{
	background-color: #041230;
	padding: 50px 20px;
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.leftpart_wrap .menu_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 0px 20px 0px 60px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.leftpart_wrap .menu_list_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.leftpart_wrap .menu_list_wrap ul li{margin:0px;}
.leftpart_wrap .menu_list_wrap ul li:last-child{margin-bottom: 0px;}
.leftpart_wrap .menu_list_wrap ul li a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	padding-bottom: 19px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.leftpart_wrap .menu_list_wrap ul li a:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 0px;
	background-color: #E3872D;
	top: 14px;
	transform: translateY(-50%);
	left: 100%;
	margin-left: 10px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.leftpart_wrap .menu_list_wrap ul li a:hover{color: #E3872D;}
.leftpart_wrap .menu_list_wrap ul li a:hover:before{width: 35px;}
.leftpart_wrap .leftpart_bottom{
	position: absolute;
	left: 60px;
	bottom: 38px;
}
.leftpart_wrap .leftpart_bottom .social_wrap{
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	left: -5px;
	margin-bottom: 10px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.leftpart_wrap .leftpart_bottom .social_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.leftpart_wrap .leftpart_bottom .social_wrap ul li{
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.leftpart_wrap .leftpart_bottom .social_wrap ul li:last-child{margin-right: 0px;}
.leftpart_wrap .leftpart_bottom .social_wrap ul li a{
	text-decoration: none;
	color: #fff;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.leftpart_wrap .leftpart_bottom .social_wrap ul li a:hover{color: #E3872D;}
.leftpart_wrap .resize{
	position: absolute;
	right: 0px;
	bottom: 20%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #E3872D;
	display: inline-block;
	text-decoration: none;
	z-index: 200;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.leftpart_wrap .resize.opened{right: -30px;}
.leftpart_wrap .resize i{
	color: #fff;
	transform: rotate(0deg);
	position: absolute;
	left: 6px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.leftpart_wrap .resize i.opened{transform: rotate(-180deg);}
.rightpart{
	width: 100%;
	height: auto;
	float: left;
	padding-left: 300px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.rightpart.full{padding-left: 0px;}
.rightpart.opened{padding-left: 0px;}
.rightpart .rightpart_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.hero_header_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.universal_box_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.universal_box_wrap .overlay_video{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	overflow: hidden;
}
.universal_box_wrap .overlay_video video{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}
.universal_box_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.universal_box_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 25;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap .overlay_image.hero{background-image: url(..//img/time-zone-earth-map.jpg);}
.universal_box_wrap .overlay_color.hero{background-color: rgba(7,23,55,.8);}
.universal_box_wrap .content.hero{height: 100vh;}
.hero_header_wrap .inner_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	text-align: center;
	width: 100%;
	padding: 0px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.hero_header_wrap .image_wrap{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-bottom: 38px;
}
.hero_header_wrap .image_wrap img{
	border-radius: 100%;
	border: 8px solid rgba(255,255,255,.5);
}
.hero_header_wrap .name_holder h3{
	font-family: "Montserrat";
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
}
.hero_header_wrap .name_holder h3 span{
	font-weight: 500;
	color: #E3872D;
}
.hero_header_wrap .text_typing{
	width: 100%;
	height: auto;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.hero_header_wrap .text_typing p{
	color: #fff;
	font-size: 24px;
	font-family: "Montserrat";
}
.animation_comingsoon{
	font-weight: 600;
	color: #E3872D;
	line-height: 1;
	font-family: "Montserrat";
}
.about_wrap .animation_comingsoon{color: #E3872D;}
.arrow_wrap{
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	margin-left: -21px;
	z-index: 55;
}
.animation_text_word{
	font-weight: 600;
	color: #E3872D;
	line-height: 1;
	font-family: "Montserrat";
}
.about_wrap .animation_text_word{color: #E3872D;}
.arrow_wrap{
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	margin-left: -21px;
	z-index: 55;
}
.arrow_wrap.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.arrow_wrap a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}

/*---------------------------------------------------*/
/*	03) ARLO ABOUT
/*---------------------------------------------------*/

.title_holder{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: left;
	padding-bottom: 100px;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.title_holder.project{padding-bottom: 93px;}
.title_holder.contact{padding-bottom: 93px;}
.title_holder:before{
	position: absolute;
	content: "";
	width: 6px;
	height: 72px;
	background-color: #E3872D;
	top: 2px;
}
.title_holder h3{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: -.5px;
	padding-left: 25px;
	line-height: 1;
/*	font-style: italic;*/
}
.title_holder span{
	font-size: 16px;
	font-family: "Montserrat";
	padding-left: 25px;
}
.about_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

.arlo_tm_main_title_holder{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: left;
	margin-bottom: 120px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_main_title_holder.about{
	text-align: left;
	margin-bottom: 0px;
	padding: 0px;
}
.arlo_tm_main_title_holder h3{
	font-weight: 900;
	font-family: "Montserrat";
	color: #041230;
	font-size: 30px;
	line-height: 1;
}
.arlo_tm_main_title_holder h3 span{position: relative;}
.arlo_tm_main_title_holder h3 span:before{
    position: absolute;
	content: "";
	width: 50px;
	height: 4px;
	background-color: #041230;
	letter-spacing: 0px;
	bottom: -10px;
}
.about_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_main_title_holder{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: left;
	margin-bottom: 120px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_main_title_holder.about{
	text-align: left;
	margin-bottom: 0px;
	padding: 0px;
}
.arlo_tm_main_title_holder h3{
	font-weight: 900;
	font-family: "Montserrat";
	color: #041230;
	font-size: 30px;
	line-height: 1;
}
.arlo_tm_main_title_holder h3 span{position: relative;}
.arlo_tm_main_title_holder h3 span:before{
    position: absolute;
	content: "";
	width: 50px;
	height: 4px;
	background-color: #041230;
	letter-spacing: 0px;
	bottom: -10px;
}
.about_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-bottom: 122px;
	position: relative;
	margin-top: -6px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.about_wrap .author_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	display: flex;
	align-items: center;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.about_wrap .leftbox{
	width: 35%;
	float: left;
	height: auto;
	padding-right: 40px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
}
.about_wrap .leftbox .about_image_wrap{position: relative;}
.about_wrap .leftbox .about_image_wrap .image{
	position: absolute;
	z-index: 2;
}
.about_wrap .leftbox .about_image_wrap .image .inner{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.about_wrap .leftbox .about_image_wrap .border .inner{
	position: absolute;
	top: 25px !important;
	bottom: -25px !important;
	left: 25px !important;
	right: -25px !important;
	border: 10px solid #041230;
}
.about_wrap .leftbox .about_image_wrap img{opacity: 0;}
.about_wrap .rightbox{
	width: 65%;
	float: right;
	padding: 0px 0px 0px 65px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.about_wrap .subtitle{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.about_wrap .subtitle p{
	font-family: "Montserrat";
	color: #333;
	font-size: 15px;
	font-weight: 600;
}
.about_wrap .definition{margin-bottom: 15px;}
.about_wrap .definition p{color: #333;}
.about_wrap .definition p strong{color: #E3872D;}

/*** Service, Price & Team ***/
.service-item,
.price-item,
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item img,
.team-item img {
    transition: .5s;
}

.service-item:hover img,
.team-item:hover img {
    transform: scale(1.1);
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background: var(--primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
    border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
    left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--dark);
}

.about_wrap .about_short_project_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 13px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.about_wrap .arlo_tm_main_title_holder{margin-bottom: 40px;}
.about_wrap .about_short_project_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.about_wrap .about_short_project_wrap ul li{
	margin: 0px 0px 10px 0px;
	width: 50%;
	float: left;
}
.about_wrap .about_short_project_wrap ul li:nth-of-type(2n){clear: right;}
.about_short_project_wrap ul li label{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 13px;
	color: #000;
	min-width: 85px;
	display: inline-block;
}
.about_wrap .about_short_project_wrap ul li a{
	text-decoration: none;
	color: #000;
    position: relative;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.about_wrap .about_short_project_wrap ul li a:hover{color: #BD0A0D;}
.about_wrap .buttons_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.about_wrap .about_short_contact_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 13px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.about_wrap .arlo_tm_main_title_holder{margin-bottom: 40px;}
.about_wrap .about_short_contact_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.about_wrap .about_short_contact_wrap ul li{
	margin: 0px 0px 10px 0px;
	width: 50%;
	float: left;
}
.about_wrap .about_short_contact_wrap ul li:nth-of-type(2n){clear: right;}
.about_short_contact_wrap ul li label{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 13px;
	color: #000;
	min-width: 85px;
	display: inline-block;
}
.about_wrap .about_short_contact_wrap ul li a{
	text-decoration: none;
	color: #000;
    position: relative;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.about_wrap .about_short_contact_wrap ul li a:hover{color: #BD0A0D;}
.about_wrap .buttons_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.about_wrap .buttons_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.about_wrap .buttons_wrap ul li{
	margin: 0px 30px 10px 0px;
	float: left;
}
.about_wrap .buttons_wrap ul li:last-child{margin-right: 0px;}
.about_wrap .buttons_wrap ul li a span{
	position: relative;
	z-index: 2;
}
.about_wrap .buttons_wrap ul li a{
	text-decoration: none;
    color: #fff;
    background-color: #E3872D;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;;
}
.about_wrap .buttons_wrap ul li a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #041230;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.about_wrap .buttons_wrap ul li a:hover:before{width: 180%;}
.arlo_tm_skills_wrap,
.arlo_tm_skills_wrap .inner_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_skills_wrap{
	background-color: #f6f7fd;
	padding: 90px 0px;
	margin-bottom: 100px;
}
.arlo_tm_skills_wrap .inner_wrap{display: flex;}
.arlo_tm_skills_wrap .leftbox{
	width: 35%;
	height: auto;
	clear: both;
	float: left;
	padding-right:0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_skills_wrap .rightbox{
	width: 65%;
	height: auto;
	clear: both;
	float: right;
	padding-left: 65px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.progress_bar_wrap_total{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 10px;
	position: relative;
	margin-top: -4px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_progress_wrap[data-size="big"] .arlo_tm_progress .arlo_tm_bar_bg{height:40px;}
.arlo_tm_progress_wrap[data-size="small"] .arlo_tm_progress .arlo_tm_bar_bg{height:5px;}

.arlo_tm_progress_wrap[data-round="a"] .arlo_tm_progress .arlo_tm_bar_bg,
.arlo_tm_progress_wrap[data-round="a"] .arlo_tm_progress .arlo_tm_bar{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.arlo_tm_progress_wrap[data-round="b"] .arlo_tm_progress .arlo_tm_bar_bg,
.arlo_tm_progress_wrap[data-round="b"] .arlo_tm_progress .arlo_tm_bar{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.arlo_tm_progress_wrap[data-round="c"] .arlo_tm_progress .arlo_tm_bar_bg,
.arlo_tm_progress_wrap[data-round="c"] .arlo_tm_progress .arlo_tm_bar{
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}
.arlo_tm_progress{
	width:100%;
	margin-bottom:16px;
}
.arlo_tm_progress:last-child{margin-bottom: 0px;}
.arlo_tm_progress > span{
	margin:0px 0px 3px 0px;
	width:100%;
	display:block;
	text-align:left;
}
.arlo_tm_progress span.label{
	font-size:13px;
	font-weight:700;
	color:#000;
	font-family: "Montserrat";
}
.arlo_tm_progress span.label .experience{font-size: 12px;font-weight: 600;}
.arlo_tm_progress span.number{
	float:right;
	font-size:13px;
	color:#000;
	font-weight: 700;
	font-family: "Montserrat";
}
.arlo_tm_progress .arlo_tm_bar_bg{
	background:rgba(0,0,0,.1);
	width:100%;
	min-width:100%;
	position:relative;
	height:20px;
}
.arlo_tm_progress .arlo_tm_bar_bg .arlo_tm_bar_wrap{
	width:0px;
	height:100%;
}
.arlo_tm_progress .arlo_tm_bar_bg .arlo_tm_bar_wrap.open{
	-webkit-animation: arlo_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Safari 4+ */
	-moz-animation:    arlo_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Fx 5+ */
	animation:         arlo_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* IE 10+ */
	width:100%;	
}
.arlo_tm_progress .arlo_tm_bar_bg .arlo_tm_bar{
	height:100%;
	background:#333;
	width:0px;
	overflow:hidden;
}
.arlo_tm_progress_wrap[data-strip="on"] .arlo_tm_progress .arlo_tm_bar{
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
	
	-webkit-animation: arlo_tm_bar_move 4s linear infinite;
	-moz-animation: arlo_tm_bar_move 4s linear infinite;
	animation: arlo_tm_bar_move 4s linear infinite;
	background-size: 50px 50px;
}
@-webkit-keyframes arlo_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}
@-moz-keyframes arlo_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}
@keyframes arlo_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}

/*expand width animation*/
@-webkit-keyframes arlo_tm_expand {0%{ width:0%; } 100%{ width:100%; }}
@-moz-keyframes arlo_tm_expand {0%{ width:0%; } 100%{ width:100%; }}
@keyframes arlo_tm_expand {0%{ width:0%; } 100%{ width:100%; }}

.mini_title_holder{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.mini_title_holder h4{
	line-height: 1;
	margin-bottom: 18px;
}
.mini_title_holder.contact h4{margin-bottom:30px;}

/*---------------------------------------------------*/
/*	04) ARLO SERVICES
/*---------------------------------------------------*/

.arlo_tm_services_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	margin-bottom: 70px;
	text-align: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_services_wrap .title_holder_wrap{margin-bottom: 93px;}
.arlo_tm_services_wrap .list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_services_wrap .list_wrap ul{
	margin: 0px 0px 0px -30px;
	list-style-type: none;
}
.arlo_tm_services_wrap .list_wrap ul li{
	margin: 0px 0px 30px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_services_wrap .list_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	padding: 40px 40px 33px 40px;
	top: 0px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_services_wrap .list_wrap ul li .inner:hover{top: -5px;}
.arlo_tm_services_wrap .list_wrap ul li .icon{margin-bottom: 21px;}
.arlo_tm_services_wrap .list_wrap ul li .icon .svg{
	width: 40px;
	height: 40px;
	color: #E3872D;
}
.arlo_tm_services_wrap .list_wrap ul li .title_service{margin-bottom: 17px;}
.arlo_tm_services_wrap .list_wrap ul li .title_service h3{
	font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
	line-height: 1;
}

/*---------------------------------------------------*/
/*	05) ARLO COUNTERBOX
/*---------------------------------------------------*/

.arlo_tm_counter_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_wrap{overflow: hidden;}
.arlo_tm_counter_list{
	list-style-type:none;
	width:100%;
	margin: 0px;
	
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}
.arlo_tm_counter_list li{
	width:25%;
	float:left;
	text-align:center;
	margin: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_list li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding: 90px 15px 93px 15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_list li .inner:before{
	position: absolute;
	content: "";
	width: 1px;
	top: 35px;
	bottom: 35px;
	background-color: #d1d7db;
	left: 100%;
}
.arlo_tm_counter_list li:nth-child(4) .inner:before{display: none;}
.arlo_tm_counter_list li h3{
	font-family: "Montserrat";
	color: #181a2f;
	margin-bottom: 10px;
}
.arlo_tm_counter_list li h3 > span{
	font-size: 40px;
	font-weight: 700;
}
.arlo_tm_counter_list li .inner > span{
	color:#666;
	font-family: "Open Sans";
	font-size: 14px;
	display: block;
	font-weight: 600;
}

/*---------------------------------------------------*/
/*	06) ARLO PORTFOLIO
/*---------------------------------------------------*/

.title_holder.portfolio{padding-bottom: 90px;}
.arlo_tm_portfolio_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-bottom: 70px;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_portfolio_wrapper_all .arlo_tm_button{text-align: center;}
.arlo_tm_portfolio_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_portfolio_filter{
	width:100%;
	height: auto;
	text-align:left;
	list-style-type:none;
	margin: 0px 0px 13px 0px;
	display: inline-block;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_filter li{
	display:inline-block;
	margin:0px 40px 0px 0px;
}
.arlo_tm_portfolio_filter li:last-child{margin-right: 0px;}
.arlo_tm_portfolio_filter li a{
	text-decoration:none;
	font-size:14px;
	font-weight:700;
	color:#000;
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
	    -ms-transition: all .1s ease;
	     -o-transition: all .1s ease;
	        transition: all .1s ease;
}
.arlo_tm_portfolio_filter li a.current{color: #BD0A0D;}

/* PORTFOLIO LIST */

.arlo_tm_portfolio_list{
	list-style-type:none;
	margin: 0px 0px 0px -30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_list > li{
	width:33.3333%;
	float:left;
	position:relative;
	margin: 0px 0px 30px 0px;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_list li img{min-width: 100%;}
.arlo_tm_portfolio_titles {
  white-space: nowrap;
  background: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 15px;
  color: #000000;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
.arlo_tm_portfolio_titles.visible {
  opacity: 1;
  visibility: visible;
}
.arlo_tm_portfolio_titles .work__cat {
  position: absolute;
  background: #ffffff;
  top: 100%;
  left: 0;
  margin-top: -5px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
}
.entry{position: relative;}
.arlo_tm_portfolio_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*---------------------------------------------------*/
/*	07) ARLO TESTIMONIALS
/*---------------------------------------------------*/

.arlo_tm_testimonials_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_testimonial_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_testimonial_wrap .carousel_wrap{
	width: 100%;
	max-width: 730px;
	margin: 0px auto;
	height: auto;
	clear: both;
	text-align: center;
	cursor: e-resize;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_testimonial_wrap .carousel_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_testimonial_wrap .carousel_wrap ul li{margin: 0px;}
.arlo_tm_testimonial_wrap .carousel_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_testimonial_wrap .quotebox_wrap{
	clear: both;
	margin-bottom: 22px;
}
.arlo_tm_testimonial_wrap .quotebox_wrap i{
	color: #E3872D;
	font-size: 35px;
}
.arlo_tm_testimonial_wrap .definitions_wrap{
	clear: both;
	margin-bottom: 32px;
}
.arlo_tm_testimonial_wrap .definitions_wrap p{
	color: #fff;
	font-size: 27px;
	font-family: "Montserrat";
	font-weight: 600;
	line-height: 1.4;
}
.arlo_tm_testimonial_wrap .name_holder p{
	color: #fff;
	font-size: 18px;
	font-family: "Montserrat";
}

.universal_box_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.universal_box_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.universal_box_wrap .overlay_video{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	overflow: hidden;
}
.universal_box_wrap .overlay_video video{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}
.universal_box_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.universal_box_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 25;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap .overlay_image.testimonial{background-image: url(..//img/world-wallpaper-zones-earth-wallpapers.jpg);}
.universal_box_wrap .overlay_color.testimonial{background-color: rgba(7,23,55,.8);}
.universal_box_wrap .content.testimonial{padding: 82px 0px 90px 0px;}

/*---------------------------------------------------*/
/*	08) ARLO NEWS
/*---------------------------------------------------*/

.arlo_tm_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_list_wrap > ul.total{
	margin: 0px 0px 0px -30px;
	list-style-type: none;
}
.arlo_tm_list_wrap > ul.total > li{
	margin: 0px 0px 30px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_list_wrap > ul.total > li:last-child{margin-bottom: 0px;}
.arlo_tm_list_wrap > ul.total > li .inner_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_news_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 98px;
	padding-bottom: 70px;
	background-color: #f6f7fd;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_news_wrap .link_news{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 22;
}
.arlo_tm_news_wrap .arlo_tm_list_wrap .inner_list{
	background-color: #fff;
	border-radius: 3px;
}
.arlo_tm_news_wrap .definitions_wrap{padding: 40px 30px 47px 30px;}
.arlo_tm_news_wrap .image_wrap{position: relative;}
.arlo_tm_news_wrap .image_wrap .big{display: none;}
.arlo_tm_news_wrap .image_wrap .small{display: block;}
.arlo_tm_news_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.arlo_tm_news_wrap .date_wrap{margin-bottom: 16px;}
.arlo_tm_news_wrap .date_wrap p{
	color: #333;
	font-family: "Montserrat";
	font-weight: 600;
}
.arlo_tm_news_wrap .full_def{display: none;}
.arlo_tm_news_wrap .date_wrap p a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	margin-left: 23px;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.arlo_tm_news_wrap .date_wrap p a:hover{color: #E3872D;}
.arlo_tm_news_wrap .date_wrap p a:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 1px;
	background-color: #333;
	top: 50%;
	right: 100%;
	margin-right: 8px;
}
.arlo_tm_news_wrap .title_holder{margin-bottom: 18px;}
.arlo_tm_news_wrap .title_holder h3{
	color: #fff;
	line-height: 1.4;
	font-weight: 600;
	font-family: "Montserrat";
}
.arlo_tm_news_wrap .title_holder h3 a{
	text-decoration: none;
	color: #041230;
	font-size: 22px;
	display: block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_news_wrap .title_holder h3 a:hover{color: #E3872D;}
.arlo_tm_news_wrap .definition{margin-bottom: 26px;}
.arlo_tm_news_wrap .definition p{color: #333;}
.arlo_tm_news_wrap .read_more a{
	text-decoration: none;
    color: #fff;
    background-color: #E3872D;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.arlo_tm_news_wrap .read_more a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #041230;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.arlo_tm_news_wrap .read_more a:hover:before{width: 170%;}
.arlo_tm_news_wrap .read_more a span{
	position: relative;
	z-index: 2;
}
.arlo_tm_popup_share_wrap{display: none;}
#popup_blog{
	opacity: 0;
	visibility: hidden;
	
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(255,255,255,1);
	padding: 50px 0px;	
	z-index: 99999999;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
#popup_blog.opened{
	opacity: 1;
	visibility: visible;
}
#popup_blog .definitions_wrap{
	width: 100%;
	float: left;
}
#popup_blog .full_def{
	display: block;
	margin-bottom: 20px;

	width: 100%;

	float: left;
}
#popup_blog .full_def p{display: inline-block;}
#popup_blog .definition{display: none;}
#popup_blog .inner_popup{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
}
#popup_blog .date_wrap p{
	color: #333;
    font-family: "Montserrat";
    font-weight: 600;
}
#popup_blog .date_wrap p a{
	color: #333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 23px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
#popup_blog .date_wrap p a:hover{color: #BD0A0D;}
#popup_blog .image_wrap{
	margin-bottom: 45px;
	position: relative;
	width: 100%;
	float: left;
}
#popup_blog .image_wrap .big{
	display: block;
	min-height: 250px;
}
#popup_blog .image_wrap .small{display: none;}
#popup_blog .image_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#popup_blog .date_wrap{
	margin-bottom: 16px;
	width: 100%;
	float: left;
}
#popup_blog .date_wrap p a:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: 100%;
    margin-right: 8px;
}
#popup_blog .title_holder{
	margin-bottom: 18px;
	width: 100%;
	float: left;
}
#popup_blog .title_holder h3{
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
}
#popup_blog .title_holder h3 a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    display: block;
}
#popup_blog .definition p{color: #333;}
#popup_blog .read_more{display: none;}
#popup_blog .arlo_tm_popup_share_wrap{
	display: block;
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-bottom: 5px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
#popup_blog .arlo_tm_popup_share_wrap ul{
	margin: 0px;
	list-style-type: none;
}
#popup_blog .arlo_tm_popup_share_wrap ul li{
	display: inline-block;
	margin: 0px 15px 0px 0px;
}
#popup_blog .arlo_tm_popup_share_wrap ul li a{
	text-decoration: none;
    color: #000;
    font-size: 15px;
    position: relative;
    font-family: "Montserrat";
    font-weight: 600;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#popup_blog .arlo_tm_popup_share_wrap ul li a:hover{color: #BD0A0D;}
#popup_blog .close{
	position: absolute;
	top: 30px;
	right: 40px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	z-index: 111111111;
}
#popup_blog .close a{
	position: relative;
	display: block;
	height: 30px;
	margin-right: 10px;
	margin-top: 12px;
}
#popup_blog .close a:before{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(45deg);
}
#popup_blog .close a:after{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(135deg);
}

/*---------------------------------------------------*/
/*	09) ARLO CONTACT
/*---------------------------------------------------*/

.contact_wrap_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.contact_wrap_all .leftbox{
	width: 40%;
	height: auto;
	float: left;
	padding-right: 40px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */		
}
.contact_wrap_all .leftbox .short_info_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.contact_wrap_all .leftbox .short_info_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.contact_wrap_all .leftbox .short_info_wrap ul li{
	margin: 0px 0px 15px 0px;
}
.contact_wrap_all .leftbox .short_info_wrap ul li label{
	font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    color: #000;
}
.contact_wrap_all .leftbox .short_info_wrap ul li span{padding-left: 5px;}
.contact_wrap_all .leftbox .short_info_wrap ul li a{
	text-decoration: none;
	color: #000;
}
.contact_wrap_all .rightbox{
	width: 60%;
	height: auto;
	float: right;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */		
}
.arlo_tm_contact_wrap{
	max-width: 830px;
	height: auto;
	margin: 0px auto;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_contact_wrap .subtitle{
	text-align: center;
	margin-bottom: 69px;
}
.arlo_tm_contact_wrap .subtitle p{color: #333;}
.arlo_tm_contact_wrap .main_input_wrap{
	margin-bottom: 75px;
	position: relative;
	top: -24px;
}
.arlo_tm_contact_wrap .main_input_wrap,
.arlo_tm_contact_wrap .main_input_wrap .wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_contact_wrap .main_input_wrap .wrap{margin-bottom: 20px;}
.arlo_tm_contact_wrap .main_input_wrap .wrap input{
	width: 100%;
	text-align: left;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(10,4,37,1);
	color: #333;
	padding-left: 0px !important;
}
.arlo_tm_contact_wrap .main_input_wrap .wrap input:focus{
	outline: none;
}
.arlo_tm_contact_wrap .main_input_wrap .wrap textarea{
	width: 100%;
	height: 80px;
	text-align: left;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(10,4,37,1);
	color: #333;
	padding-left: 0px !important;
}
.arlo_tm_contact_wrap .main_input_wrap .wrap textarea:focus{
	outline: none;
}

.arlo_tm_contact_wrap a{
	text-decoration: none;
    color: #ffffff;
    background-color: #E3872D;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 9px 30px;
    margin-top: 14px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.arlo_tm_contact_wrap .arlo_tm_button a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    transform: skew(50deg);
    transition-duration: .6s;
    background-color: #041230;
    z-index: 1;
}
.arlo_tm_contact_wrap .arlo_tm_button a:hover:before{width: 170%;}
.arlo_tm_contact_wrap .arlo_tm_button a span{
	position: relative;
	z-index: 2;
}
.arlo_tm_contact_wrap .empty_notice{
	color: #BD0A0D;
	margin-bottom: 7px;
	display: none;
	text-align: left;
}
.arlo_tm_contact_wrap .contact_error{
	color: rgba(255,0,4,1.00);
	text-align: left;
}
.arlo_tm_contact_wrap .returnmessage{
	color:#0064FF;
	margin-bottom: 7px;
	text-align: left;
}

.footer_wrap{
	width: 100%;
	margin-top: 70px;
	height: auto;
	clear: both;
	float: left;
	text-align: left;
	background-color: #041230;
	padding: 50px 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.footer_wrap p{color: #fff;}
.footer_wrap p a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 600;
    position: relative;
}

/*---------------------------------------------------*/
/*	10) EDREA TO TOP
/*---------------------------------------------------*/

.totop{
	position: fixed;
	bottom: 40px;
	right: 55px;
	z-index: 100;
	overflow: hidden;
	outline: 1px solid rgba(255,255,255,.2);

	background-color: #E3872D;
    padding: 22px;
    border-radius: 3px;
    display: inline-block;
	
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.totop:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -75%;
    width: 0%;
    background-color: #041230;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.totop:after{
	width: 0px;
    height: 0px;
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-bottom-color: #fff;
    top: 14px;
    left: 17px;
	z-index: 2;
}
.totop:hover:before{width: 290%;}
.totop.opened{
	opacity: 1;
	visibility: visible;
	bottom: 55px;
}

/*---------------------------------------------------*/
/*	11) ARLO PARTICLE HOMEPAGE
/*---------------------------------------------------*/

#particles-js {
	width: 100%;
	height: 100%;
  	position: relative;
  	z-index: 2;
}
.universal_box_wrap.particle{
	height: 100vh;
	position: relative;
	background-image: url(..//img/hero/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.universal_box_wrap.particle .particle_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color:rgba(7,23,55,.8);
}

/*---------------------------------------------------*/
/*	12) ARLO RIPPLE HOMEPAGE
/*---------------------------------------------------*/

.arlo_tm_ripple_wrap{
	width: 100%;
	height:100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(..//img/hero/2.jpg);
	position: relative;
}
.arlo_tm_ripple_wrap .overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(7,23,55,.8);
	z-index: 1;
}
.arlo_tm_ripple_wrap .container{
	height: 100%;
	z-index: 2;
}

/*---------------------------------------------------*/
/*	13) ARLO PORTFOLIO SINGLE
/*---------------------------------------------------*/

.arlo_tm_portfolio_single_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 150px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .title_holder h3{
	font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1;
	margin-bottom: 100px;
}
.arlo_tm_portfolio_single_wrap .details_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .details_wrap .leftbox{
	width: 40%;
	height: auto;
	float: left;
	padding-right: 50px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .details_wrap .name_holder h3{
	font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
	margin-bottom: 20px;
}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li{margin: 0px 0px 3px 0px;}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li:last-child{margin-bottom: 0px;}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li span{display: inline-block;}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li span.first{
    font-weight: 600;
	min-width: 150px;
}
.arlo_tm_portfolio_single_wrap .details_wrap .rightbox{
	width: 60%;
	height: auto;
	float: left;
}
.arlo_tm_portfolio_single_wrap .details_wrap .rightbox p{line-height: 2;}
.arlo_tm_portfolio_single_wrap .images_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 50px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .images_list ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_portfolio_single_wrap .images_list ul li{
	margin: 0px 0px 50px 0px;
	float: left;
	width: 100%;
}
.arlo_tm_portfolio_single_wrap .images_list ul li:last-child{margin-bottom: 0px;}
.arlo_tm_portfolio_single_wrap .images_list ul li img{min-width: 100%;}
.arlo_tm_portfolio_single_wrap .pagination_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .pagination_wrap a{
	text-decoration: none;
	color: #000000;
	font-weight: 600;
	font-size: 16px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_portfolio_single_wrap .pagination_wrap a:hover{color: #E3872D;}

/*---------------------------------------------------*/
/*	14) ARLO MOBILE HEADER
/*---------------------------------------------------*/

.mobile_header_wrap{
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 11111111;
	left: 0px;
	top: 0px;
	display: none;
}
.mobile_header_wrap .main_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 30px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #041230;
	border-bottom: 1px solid rgba(255,255,255,.1);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.trigger{width: auto;}
.trigger .hamburger{
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.trigger .hamburger-box{
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
}
.trigger .hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
}
.trigger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 30px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.trigger .hamburger-inner::before,
.trigger .hamburger-inner::after{
    content: "";
    display: block;
}
.trigger .hamburger-inner::before{top: -8px;}
.trigger .hamburger-inner::after{ bottom: -10px;}
.trigger .hamburger--collapse-r .hamburger-inner{
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.trigger .hamburger--collapse-r .hamburger-inner::after{
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.trigger .hamburger--collapse-r .hamburger-inner::before{
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.trigger .hamburger--collapse-r.is-active .hamburger-inner{
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.trigger .hamburger--collapse-r.is-active .hamburger-inner::after{
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.trigger .hamburger--collapse-r.is-active .hamburger-inner::before{
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.trigger .hamburger{
	padding: 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.trigger .hamburger-box{display: block;}
.trigger .hamburger .hamburger-inner::before,
.trigger .hamburger .hamburger-inner::after,
.trigger .hamburger .hamburger-inner{
	background-color: #fff;
	width: 30px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.mobile_menu_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: rgba(4,18,48,.97);
	padding: 30px 20px;
	display: none;
	border-bottom: 1px solid rgba(0,0,0,.09);
	border-top: 1px solid rgba(0,0,0,.09);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */	
}
.mobile_menu_wrap .mob_menu{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.mobile_menu_wrap .mob_menu > ul{
	margin: 0px;
	list-style-type: none;
}
.mobile_menu_wrap .mob_menu > ul > li{margin: 0px 0px 5px 0px;}
.mobile_menu_wrap .mob_menu > ul > li:last-child{margin-bottom: 0px;}
.mobile_menu_wrap .mob_menu > ul > li a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 19px;
}

/*---------------------------------------------------*/
/*	15) ARLO MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1400px) {
	.about_wrap .leftbox{padding-right: 0px;}
}
@media (max-width: 1200px) {
	.arlo_tm_services_wrap .list_wrap ul li{width: 50%;}
	#popup_blog .close{right: 0px;}
	.arlo_tm_list_wrap > ul.total > li{width: 50%;}
	.contact_wrap_all .leftbox{width: 100%;padding-right: 0px;margin-bottom: 19px;}
	.contact_wrap_all .rightbox{width: 100%;float: none;}
	.preloader{display: none;}
}
@media (max-width: 1040px) {
	.about_wrap{flex-direction: column;}
	.about_wrap .rightpart .info_list ul li{width: 100%;}
	.about_wrap .leftbox{width: 100%;padding-right: 0px;}
	.about_wrap .leftbox .about_image_wrap{display: none;}
	.about_wrap .rightpart{width: 100%;}
	.arlo_tm_skills_wrap .inner_wrap{flex-direction: column;}
	.arlo_tm_skills_wrap .leftbox{padding-right: 0px;width: 100%;margin-bottom: 60px;}
	.arlo_tm_skills_wrap .rightbox{width: 100%;padding-left: 0px;}
	.arlo_tm_main_demos_list_wrap ul{margin: 0px;}
	.arlo_tm_main_demos_list_wrap ul li{width: 100%;padding: 0px;}
	.arlo_tm_portfolio_single_wrap .details_wrap{flex-direction: column;}
	.arlo_tm_portfolio_single_wrap .details_wrap .leftbox{padding-right: 0px;width: 100%;margin-bottom: 50px;}
	.arlo_tm_portfolio_single_wrap .details_wrap .rightbox{width: 100%;}
	.mobile_header_wrap{display: block;}
	.about_wrap .author_wrap{flex-direction: column;align-items: baseline; }
	.about_wrap .rightbox{width: 100%;padding-left: 0px;}
}
@media (max-width: 768px) {
	.hero_header_wrap .name_holder h3{font-size: 40px;}
	.hero_header_wrap .text_typing p{font-size: 21px;}
	.title_holder h3{font-size: 45px;}
	.title_holder:before{top: -2px;}
	.arlo_tm_services_wrap .list_wrap ul{margin: 0px;}
	.arlo_tm_services_wrap .list_wrap ul li{width: 100%;padding-left: 0px;}
	.arlo_tm_counter_list li{width: 50%;}
	.arlo_tm_counter_list li .inner{padding: 45px 15px 48px 15px;}
	.arlo_tm_portfolio_list > li{width: 50%;}
	.arlo_tm_list_wrap > ul.total{margin: 0px;}
	.arlo_tm_list_wrap > ul.total > li{width: 100%;padding-left: 0px;}
	.about_wrap .about_short_contact_wrap ul li{width: 100%;}
	.totop{right: 20px;bottom: 10px;}
	.totop.opened{bottom: 20px;}
	.arlo_tm_portfolio_single_wrap .title_holder h3{font-size: 45px;}
}
@media (max-width: 480px) {
	.hero_header_wrap .name_holder h3{font-size: 30px;}
	.hero_header_wrap .text_typing p{font-size: 18px;}
	.title_holder:before{display: none;}
	.title_holder h3{padding-left: 0px;}
	.title_holder span{padding-left: 0px;}
	.arlo_tm_counter_list li{width: 100%;}
	.arlo_tm_counter_list li .inner{padding: 0px 0px 35px 0px;}
	.arlo_tm_portfolio_list{margin: 0px;}
	.arlo_tm_portfolio_list > li{width: 100%;padding-left: 0px;}
	.arlo_tm_counter_wrap{padding: 94px 0px 48px 0px;}
}	